<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="welcome">La sesion expiro...</h1>
    <form id="taskForm">
      <input type="text" id="title" placeholder="Title" required />
      <input type="text" id="description" placeholder="Description" require />
      <button type="submit">Add Task</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr id="todo-list">
          <td><button>Edit</button><button>Delete</button></td>
        </tr>
      </tbody>
    </table>
    <script src="home.js"></script>
  </body>
</html>
