body {
  background-color: beige;
}

h1 {
  text-align: center;
}

#taskForm {
  text-align: center;
}

table {
  margin-top: 30px;
  width: 100%;
  border: 2px solid gray;
  padding: 2px;
}
thead {
  background-color: gray;
}
td {
  padding: 2px;
}
th {
  padding: 0 2px 5px;
  line-height: 15px;
}
